:root {
    /* colors */
    --color_primary: #F9F9F9;
    --color_secondary: #4D00CB;
    --color_secondary_transparent: rgba(77, 0, 203, 0.6);
    --color_text: #1D1B20;
    --color_text_gray: #8c8c8c;
}

#bigMute_container {
    position: fixed;
    inset: 0;
    z-index: 9999999;
    pointer-events: none;
}

#bigMute_button {
    color: var(--color_primary);
    background-color: var(--color_secondary_transparent);
    width: 10em;
    height: 10em;
    border: 1px solid var(--color_secondary);
    border-radius: 50%;
    position: absolute;
    top: auto;
    bottom: auto;
    left: 2em;
    font-size: 4em;
    font-weight: bold;
    pointer-events: auto;
    cursor: pointer;
}
