:root {
    /* colors */
    --color_primary: #F9F9F9;
    --color_secondary: #4D00CB;
    --color_secondary_transparent: rgba(77, 0, 203, 0.3);
    --color_text: #1D1B20;
    --color_text_gray: #8c8c8c;
    --filter_svg: invert(100%) sepia(13%) saturate(89%) hue-rotate(155deg) brightness(112%) contrast(95%);
}

[bigMute_size='1x'] {
    width: 1em !important;
}
[bigMute_size='2x'] {
    width: 2em !important;
}
[bigMute_size='0.5x'] {
    width: 0.5em !important;
}

#bigMute_container {
    position: fixed;
    inset: 0;
    z-index: 9999999;
    pointer-events: none;
    font-size: 64px;

    --bigMute_main__border-radius: 10% 50% 50% 50%;
    --bigMute_minimize__position: absolute;
    --bigMute_button__display: flex;
}
#bigMute_container.minimized {
    --bigMute_main__border-radius: 50%;
    --bigMute_minimize__position: relative;
    --bigMute_button__display: none;
}

#bigMute_main {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid var(--color_secondary);
    border-radius: var(--bigMute_main__border-radius);
    background-color: transparent;
    color: var(--color_secondary);
    font-size: 1em;
    pointer-events: auto;
    cursor: default;
    opacity: 0;
    transition: background-color, color, border-top-color, border-right-color, border-bottom-color, border-left-color, opacity 200ms ease-in-out;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

#bigMute_main.minimized {
    border-radius: 50%;
}

#bigMute_minimize {
    overflow: clip;
    position: var(--bigMute_minimize__position);
    top: 0;
    left: 0;
    transform: rotateZ(45deg);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 1.5em;
    cursor: pointer;
}
#bigMute_minimize.minimized {
    position: relative;
}

#bigMute_minimize_img {
    filter: var(--filter_svg);
    width: 1em;
}

#bigMute_content {
    overflow: clip;
    pointer-events: none;
    color: inherit;
    display: flex;
}

#bigMute_content_img {
    filter: var(--filter_svg);
    width: 1em;
    margin: 0.5em;
}

#bigMute_content_img[bigMute_size='0.5x'] {
    margin: 0.2em;
}

#bigMute_button {
    display: var(--bigMute_button__display);
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    font-size: 4em;
    font-weight: bold;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}
#bigMute_button.minimized {
    display: none;
}

#bigMute_main:hover {
    background-color: var(--color_secondary_transparent);
    color: var(--color_primary);
    opacity: 1;
}

#bigMute_main.moving:not(:hover) {
    opacity: 0.6;
}


